<div class="row">
    <div class="col-sm-6">

        <img src="../../assets/img/fnl.png" alt="" width="300" height="450">

    </div>
    <div class="col-sm-6">
        <div class="login-box">
            <h1 style="text-align: center;"><b>Hello</b></h1>
            <h3>Sign into your account</h3>

            <div class="textbox">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username">
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password">
            </div>

            <input type="button" class="btn" value="Login" style="background-image: linear-gradient(50deg, #1EACD3, #27B582);">
        </div>
    </div>

</div>