<div class="container-fluid">

    <div class="row">
        <div class="col-sm-5">
            <img src="../../assets/img/fnl.png" width="350" height="500">
        </div>
        <div class="col-sm-2">
            <div class="line"></div>
        </div>
        <div class="col-sm-5">
            <div class="login-box">
                <h1 style="text-align: center;"><b>Hi, Admin</b></h1>
                <h3>Sign into your account</h3>

                <div class="textbox">
                    <i class="fas fa-user" style="color: #27B582;"></i>
                    <input type="text" placeholder="Username">
                </div>

                <div class="textbox">
                    <i class="fas fa-lock" style="color: #27B582;"></i>
                    <input type="password" placeholder="Password">
                </div>

                <input type="button" class="btn" value="Login" style="background-image: linear-gradient(50deg, #1EACD3, #27B582);">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class=footer>

                <p>Copyright &copy; {{yearN}} CRental - All Rights Reserved</p>
            </div>
        </div>

    </div>
</div>